* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

.products-dash-form-comp > h4 {
    text-transform: uppercase;
}

.products-dash-form-comp > form {
    margin-top: 15px;
}

.products-dash-form-comp > form > * {
    width: 220px;
}

.products-dash-form-comp > form > button {
    width: fit-content;
}

.products-dash-form-comp > form > textarea {
    height: 80px;
}

.prod-adm-radio-group {
    display: flex;
    gap: 20px;
    align-items: center;
}