* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

.categoryAttributes-dash-form-comp > h4 {
    text-transform: uppercase;
}

.categoryAttributes-dash-form-comp > form {
    margin-top: 15px;
}

.categoryAttributes-dash-form-comp > form > * {
    width: 200px;
}

.categoryAttributes-dash-form-comp > form > button {
    width: fit-content;
}