* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

.category-dash {
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
}

.category-dash-header {
    background-color: #1e293b;
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.category-dash-form {
    margin-top: 20px;
}

.category-dash-search {
    margin-top: 20px;
}

.category-dash-search > input {
    height: 35px;
    border: none;
    background-color: #ddd;
    width: 100%;
    outline: none;
    color: #000;
    padding: 5px;
    font-size: 16px;
}

.category-dash-search > input:active {
    border: none;
    outline: none;
}

.category-dash-table table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.category-dash-table th,
.category-dash-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.category-dash-table th {
    background-color: #1e293b;
    color: white;
}