* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

.attributeValues-dash {
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
}

.attributeValues-dash-header {
    background-color: #1e293b;
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.attributeValues-dash-form {
    margin-top: 20px;
}

.attributeValues-dash-table table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.attributeValues-dash-table th,
.attributeValues-dash-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.attributeValues-dash-table th {
    background-color: #1e293b;
    color: white;
}