* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

.productImages-dash {
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
}

.productImages-dash-header {
    background-color: #1e293b;
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.productImages-dash-form {
    margin-top: 20px;
}